.btn {
    -webkit-appearance: none !important;
  @apply flex justify-center items-center rounded transition-all ease-in-out duration-300 ;
}

.btn-sm {
  @apply h-6 px-3 text-sm font-medium;
}

.btn-md {
  @apply h-8 px-4 font-medium text-base;
}

.btn-lg {
  @apply h-10 px-5 text-base font-medium;
}

.btn-coral {
  @apply bg-coral-500 text-white;
}

.btn-coral:hover {
  @apply bg-coral-200 text-coral-700 shadow-xl;
}
.btn-coral:focus {
    @apply outline-none;
}
.btn-turquoise {
  @apply bg-turquoise-500 text-white;
}

.btn-turquoise:hover {
  @apply bg-turquoise-200 text-turquoise-700 shadow-xl;
}

.btn-turquoise:focus {
    @apply outline-none;
}

.btn-gray {
  @apply  bg-gray-50 text-gray-900 border border-gray-200;
}

.btn-gray:hover {
  @apply shadow-lg;
}

.btn-gray:focus {
    @apply outline-none;
}
