.hex-radio {
    position: relative;
    &:hover {
        cursor: pointer;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;

        + .hex-radio-label {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 100%;
            position: relative;
            cursor: pointer;
            position: absolute;
            //absolute top-0 block rounded-full w-6 h-6
            &:before {
                content: '';
                width: 1.5rem;
                height: 1.5rem;
                display: inline-block;
                border-radius: 100%;
                margin-right: 1em;
                vertical-align: top;
                text-align: center;
                transition: all 250ms ease;
            }
        }

        &:checked {
            + .hex-radio-label {
                &:before {
                    //border: 2px solid $color2;
                    border-radius: 50%;
                    //background-color: $color2;
                    box-shadow: 0 0 2px 2px #242424;
                }
            }
        }
        + .hex-radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}
.season-radio {
    position: relative;




    input[type="radio"] {
        position: absolute;
        opacity: 0;

        + .season-radio-label {
            border: 1px solid  #fff;
            cursor: pointer;
            transition: all 250ms ease;
            &:hover {
                background-color: #f7fafc;
                border: 1px solid  #e2e8f0;
                border-radius: 0.25rem;
            }
        }
        &:checked {
            + .season-radio-label {
                background-color: #e6f6f8;
                border: 1px solid #b3e5eb;
                border-radius: 0.25rem;
                &:hover {
                    cursor: pointer;
                    background-color: #e6f6f8;
                    border: 1px solid #b3e5eb;
                    border-radius: 0.25rem;
                }
            }
        }
        + .season-radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}
