/* width */
::-webkit-scrollbar {
    width: 8px;
}

/*
!* Track *!
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e2e8f0;
}
*/

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-coral-400 rounded;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
