.code-reveal-wrap {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
}
.btn-reveal  {
    &:after, &:before {
        display: block;
        content: " ";
        position: absolute;
    }

    &:before {
        width: 23px;
        height: 12px;
        background-color: #008697;
        z-index: 2;
        right: -14px;
        bottom: 0;
        -webkit-transform: skew(12deg);
        transform: skew(12deg);
    }

    &:after {
        width: 56px;
        height: 100%;
        border-radius: 0 0 4px 4px;
        right: -38px;
        top: 8px;
        -webkit-transform: rotate(20deg) translateY(-10px) scaleX(.8);
        transform: rotate(20deg) translateY(-10px) scaleX(.8);
        background: -webkit-linear-gradient(52deg,#4dc1d1,#4dc1d1 49%,rgba(202,235,137,0) 50%,hsla(0,0%,100%,0));
        background: linear-gradient(38deg,#4dc1d1,#4dc1d1 49%,rgba(202,235,137,0) 50%,hsla(0,0%,100%,0));
        background-position: 0 4px;
        background-repeat: no-repeat;
        z-index: 3;
    }
}
