@tailwind base;
//@import "common/variables";
//@import "./autoload/**/*";


@import 'fonts/fonts';

@import 'common/scaffolding.scss';

@import 'common/prose';
@import 'components/buttons.scss';
@import 'components/radio.scss';
@import 'components/voucher-btn';
@import 'blocks/import.scss';

a.external-link-icon {
    &:after {
        content: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.29303 12.7069C3.10556 12.5194 3.00024 12.2651 3.00024 11.9999C3.00024 11.7348 3.10556 11.4804 3.29303 11.2929L6.58603 7.99992L3.29303 4.70692C3.11087 4.51832 3.01008 4.26571 3.01236 4.00352C3.01463 3.74132 3.1198 3.49051 3.30521 3.3051C3.49062 3.11969 3.74143 3.01452 4.00363 3.01224C4.26583 3.00997 4.51843 3.11076 4.70703 3.29292L8.70703 7.29292C8.8945 7.48045 8.99982 7.73475 8.99982 7.99992C8.99982 8.26508 8.8945 8.51939 8.70703 8.70692L4.70703 12.7069C4.5195 12.8944 4.26519 12.9997 4.00003 12.9997C3.73487 12.9997 3.48056 12.8944 3.29303 12.7069Z' fill='%23008697'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.29303 12.7069C8.10556 12.5194 8.00024 12.2651 8.00024 11.9999C8.00024 11.7348 8.10556 11.4804 8.29303 11.2929L11.586 7.99992L8.29303 4.70692C8.11087 4.51832 8.01008 4.26571 8.01236 4.00352C8.01463 3.74132 8.1198 3.49051 8.30521 3.3051C8.49062 3.11969 8.74143 3.01452 9.00363 3.01224C9.26583 3.00997 9.51843 3.11076 9.70703 3.29292L13.707 7.29292C13.8945 7.48045 13.9998 7.73475 13.9998 7.99992C13.9998 8.26508 13.8945 8.51939 13.707 8.70692L9.70703 12.7069C9.5195 12.8944 9.26519 12.9997 9.00003 12.9997C8.73487 12.9997 8.48056 12.8944 8.29303 12.7069Z' fill='%23008697'/%3E%3C/svg%3E%0A");
        padding-left: 4px;
        margin-top: 4px;
        display: inline-flex;
        /* padding: 4px; */
        height: 14px;
        width: 14px;
        justify-items: center;
        align-items: center;
        position: absolute;
    }
}


.is-fixed-menu {
    @apply overflow-hidden h-screen;
}

@tailwind components;
@tailwind utilities;



