@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-MediumItalic.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-MediumItalic.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-MediumItalic.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Black.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Black.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Black.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Black.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Heavy.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Heavy.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Heavy.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Heavy.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Italic.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Italic.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Italic.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap
}

/*@font-face {*/
/*    font-family: 'TT Norms';*/
/*    src: url('TTNorms-ExtraBoldItalic.eot');*/
/*    src: url('TTNorms-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),*/
/*    url('TTNorms-ExtraBoldItalic.woff2') format('woff2'),*/
/*    url('TTNorms-ExtraBoldItalic.woff') format('woff'),*/
/*    url('TTNorms-ExtraBoldItalic.ttf') format('truetype');*/
/*    font-weight: 800;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'TT Norms';*/
/*    src: url('TTNorms-ThinItalic.eot');*/
/*    src: url('TTNorms-ThinItalic.eot?#iefix') format('embedded-opentype'),*/
/*    url('TTNorms-ThinItalic.woff2') format('woff2'),*/
/*    url('TTNorms-ThinItalic.woff') format('woff'),*/
/*    url('TTNorms-ThinItalic.ttf') format('truetype');*/
/*    font-weight: 100;*/
/*    font-style: italic;*/
/*}*/

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-LightItalic.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-LightItalic.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-LightItalic.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

/*@font-face {*/
/*    font-family: 'TT Norms';*/
/*    src: url('TTNorms-HeavyItalic.eot');*/
/*    src: url('TTNorms-HeavyItalic.eot?#iefix') format('embedded-opentype'),*/
/*    url('TTNorms-HeavyItalic.woff2') format('woff2'),*/
/*    url('TTNorms-HeavyItalic.woff') format('woff'),*/
/*    url('TTNorms-HeavyItalic.ttf') format('truetype');*/
/*    font-weight: 900;*/
/*    font-style: italic;*/
/*}*/

/*@font-face {*/
/*    font-family: 'TT Norms';*/
/*    src: url('TTNorms-Thin.eot');*/
/*    src: url('TTNorms-Thin.eot?#iefix') format('embedded-opentype'),*/
/*    url('TTNorms-Thin.woff2') format('woff2'),*/
/*    url('TTNorms-Thin.woff') format('woff'),*/
/*    url('TTNorms-Thin.ttf') format('truetype');*/
/*    font-weight: 100;*/
/*    font-style: normal;*/
/*}*/

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Light.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Light.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Light.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-BoldItalic.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-BoldItalic.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-BoldItalic.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-ExtraLightItalic.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-ExtraLightItalic.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-ExtraLightItalic.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Bold.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Bold.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Bold.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-BlackItalic.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-BlackItalic.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-BlackItalic.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Regular.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Regular.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Regular.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Medium.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Medium.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Medium.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'TT Norms';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-ExtraBold.eot');
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-ExtraBold.ttf') format('truetype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-ExtraBold.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/tt-norms/TTNorms-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap
}


@font-face {
    font-family: 'MuseoSans';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-300.eot'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-300.eot?#iefix') format("embedded-opentype"),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-300.ttf') format("truetype"),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-300.woff') format("woff"),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-300.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'MuseoSans';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-500.eot'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-500.eot?#iefix') format("embedded-opentype"),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-500.ttf') format("truetype"),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-500.woff') format("woff"),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-500.woff2') format("woff2");
    font-weight: 500;
    font-display: swap
}

@font-face {
    font-family: 'MuseoSans';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-700.eot'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-700.eot?#iefix') format("embedded-opentype"),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-700.ttf') format("truetype"),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/museo-sans/MuseoSans-700.woff') format("woff");
    font-weight: 700;
    font-display: swap
}

// fall back fonts will be added locally!
@font-face {
    font-family: 'bsb-serif';
    src: url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/serif/bsb-serif.eot'),
    // fall back fonts will be added locally!
    url('../fonts/serif/bsb-serif.eot') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/serif/bsb-serif.eot?#iefix') format('embedded-opentype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/serif/bsb-serif.woff2') format('woff2'),
    // fall back fonts will be added locally!
    url('../fonts/serif/bsb-serif.woff2') format('woff2'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/serif/bsb-serif.woff') format('woff'),
    // fall back fonts will be added locally!
    url('../fonts/serif/bsb-serif.woff') format('woff'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/serif/bsb-serif.ttf') format('truetype'),
    // fall back fonts will be added locally!
    url('../fonts/serif/bsb-serif.ttf') format('truetype'),
    url('https://cdn2.thebudgetsavvybride.com/assets/webfonts/serif/bsb-serif.svg#') format('svg'),
    // fall back fonts will be added locally!
    url('../fonts/serif/bsb-serif.svg#') format('svg');
    font-style: normal;
    font-display: swap
}
