<template>
    <div class="block lg:hidden absolute inset-x-0 mt-16 z-100 w-full h-full">

        <div class="w-full h-full bg-white">

            <div class="max-w-menu mx-auto px-4">
                <ul>
                    <MobileMenuItem
                        title="Just Engaged? Start Here!"
                        :list="[
                            {title : 'Start Here!', link : 'https://thebudgetsavvybride.com/just-engaged/'},
                            {title : 'Phase I: Getting Started', link : 'https://thebudgetsavvybride.com/just-engaged/'},
                            {title : 'Phase II: Research + Inspiration', link : 'https://thebudgetsavvybride.com/just-engaged/'},
                            {title : 'Phase III: Making Wedding Decisions', link : 'https://thebudgetsavvybride.com/just-engaged/'},
                            {title : 'Phase IV: Logistics + Execution', link : 'https://thebudgetsavvybride.com/just-engaged/'},
                        ]"/>

                    <MobileMenuItem
                        title="Blog : Read our Recent Posts"
                    />
                    <MobileMenuItem
                        title="Wedding Planning Tools"
                        :list="[
                            {title : 'Free Wedding Timeline & Checklist', link : ''},
                            {title : 'Defining Your Wedding Vision', link : ''},
                            {title : 'Setting Your Wedding Budget', link : ''},
                            {title : 'Browse Wedding Inspiration', link : ''},
                            {title : 'Find Your Wedding Venue', link : ''},
                            {title : 'Free Wedding Websites', link : ''},
                            {title : 'Budget-Friendly Resources', link : ''},
                        ]"/>

                    <MobileMenuItem
                        title="Find Vendors" :list="[
                            {title : '', link : ''},
                            {title : 'Wedding Venues', link : ''},
                            {title : 'Wedding Planners', link : ''},
                            {title : 'Wedding Photographers', link : ''},
                            {title : 'Caterers', link : ''},
                            {title : 'Florists', link : ''},
                            {title : 'Bakeries', link : ''},
                            {title : 'Videographers', link : ''},
                            {title : 'Entertainment', link : ''},
                            {title : 'Beauty Services', link : ''},
                            {title : 'Officiants', link : ''},
                        ]"/>

                    <MobileMenuItem
                        title="Planning Advice by Category"
                        :list="[
                            {title : 'Free Wedding Timeline & Checklist', link : ''},
                            {title : 'Defining Your Wedding Vision', link : ''},
                            {title : 'Setting Your Wedding Budget', link : ''},
                            {title : 'Browse Wedding Inspiration', link : ''},
                            {title : 'Find Your Wedding Venue', link : ''},
                            {title : 'Free Wedding Websites', link : ''},
                            {title : 'Budget-Friendly Resources', link : ''},
                   ]"/>

                    <MobileMenuItem
                        title="Saving Money on Your Wedding"
                        :list="[
                            {title : 'Browse Wedding Deals', link : ''},
                            {title : '50 Ways to Save on Your Wedding', link : ''},
                            {title : 'Earn Extra Money for Your Wedding', link : ''},
                            {title : 'Find a Bride Hustle', link : ''},
                            {title : 'Make Money Online', link : ''},
                            {title : 'Money-Saving Advice', link : ''},
                   ]"/>
                    <MobileMenuItem
                        title="Real Weddings"
                        :list="[
                            {title : 'Browse All Real Weddings', link : ''},
                            {title : 'View Weddings by Budget', link : ''},
                            {title : 'View Weddings by Location', link : ''},
                            {title : 'View Weddings by Season', link : ''},
                            {title : 'View Weddings by Color', link : ''},
                            {title : 'Submit a Wedding', link : ''},
                   ]"/>
                    <MobileMenuItem
                        title="DIY Projects"
                        :list="[
                            {title : 'Browse All DIY Projects', link : ''},
                            {title : 'DIY Wedding Decor Projects', link : ''},
                            {title : 'Wedding Stationery DIYs', link : ''},
                            {title : 'Wedding Flower Tutorials', link : ''},
                            {title : 'DIY Wedding Favors', link : ''},
                   ]"/>

                    <MobileMenuItem
                        title="Free Wedding Printables"
                        :list="[
                            {title : '  Printable Wedding Invitations', link : ''},
                            {title : 'Printable Ceremony Items', link : ''},
                            {title : 'Printable Reception Items', link : ''},
                            {title : 'Printable Wedding Stationery', link : ''},
                            {title : 'View All Printables', link : ''},
                   ]"/>

                    <MobileMenuItem
                        title="Community"
                        :list="[
                                {title : 'Community', link : ''},
                   ]"/>

                    <MobileMenuItem
                        title="Shop"
                        :list="[
                            {title : 'Shop Home', link : ''},
                            {title : 'Wedding Dresses', link : ''},
                            {title : 'Bridesmaids Dresses', link : ''},
                            {title : 'Groom + Groomsmen', link : ''},
                            {title : 'Wedding Decor', link : ''},
                            {title : 'Stationery', link : ''},
                            {title : 'Accessories', link : ''},
                   ]"/>
                </ul>
            </div>
        </div>
    </div>

</template>

<script>
    import MobileMenuItem from "./MobileMenuItem";

    export default {
        name: "MainMobileNavigation",
        components: {MobileMenuItem}
    }
</script>
