<template>
    <li class="py-2 first:pt-0 last:pb-0">
        <a class="text-turquoise-600" :href="link">{{title}}</a>
    </li>
</template>

<script>
    export default {
        name: "MobileMenuList",
        props: {
            link: {
                type: String,
            },
            title: {
                type: String,
            },
        },
    }
</script>
