<template>
    <li class="w-full last:border-b border-t border-gray-200 py-2">
        <a
            @click="showNav = !showNav"
            href="#"
            :class="{'border-b border-gray-200 pb-2' : showNav && list.length > 0}"
            class="flex justify-between items-center w-full outline-none focus:outline-none">
            <div class="flex justify-start">
                <slot name="icon"/>
                {{title}}
            </div>
            <span class="transform transition-transform duration-150 rotate-0" :class="{'rotate-180' : showNav}">
                <IconChevronDown class="h-5 w-5 text-gray-800"/>
            </span>
        </a>
        <transition
            name="custom-classes-transition"
            enter-class="opacity-0"
            leave-to-class="opacity-0"
            enter-active-class="transition-all duration-100 ease-in"
        >
        <ul class="list-disc pl-4 mt-4 mb-2 ml-2" v-show="showNav && list.length > 0">
            <MobileMenuList
                v-for="(item, key) in list" :key="key"
                :title="item.title"
                :link="item.link"
            />
        </ul>
        </transition>
    </li>
</template>

<script>

    import IconChevronDown from '@/assets/svg/icons/chevron-down.svg?inline'
    import MobileMenuList from "./MobileMenuList";

    export default {
        name: "MobileMenuItem",
        components: {
            MobileMenuList,
            IconChevronDown
        },
        props: {
            title: {
                type: String,
                required: true
            },
            list: {
                type: Array,
            }
        },
        data() {
            return {
                showNav: false
            }
        },
    }
</script>
