.wp-block-image {
   @apply mb-0 mt-4;
}

.wp-block-image img {
   @apply w-full rounded;
}

.wp-block-image-caption, .wp-block-image figcaption {
    @apply italic text-xs my-0;
}

.wp-block-image-two-column {
    @apply grid grid-cols-2 col-gap-4 w-full;
}
