.wp-pull-quote-container {
    @apply flex px-6 py-6 bg-turquoise-50 border border-turquoise-100 rounded;
}
.wp-pull-quote-icon-container {
    @apply py-2 mr-4;
}


.wp-pull-quote-icon {
    @apply w-14 text-turquoise-300;
}

.wp-pull-quote-content {
    @apply w-10/12;
}
