
.wp-table-of-contents {
    @apply border-t border-gray-200 border-b pt-4 pb-4;
}

ul.wp-table-of-contents-summary-list {
    @apply my-2 mx-6 list-disc;

    li {
        @apply ;
    }

    ul {
        @apply list-inside list-disc ;
    }
}

ol.wp-table-of-contents-summary-list {
    -moz-column-count: 2;
    -moz-column-gap: 1rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 1rem;
    column-count: 2;
    column-gap: 1rem;
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    li {
        padding-left: 1.25em;
        @apply relative pt-1;

        &:before {
            content: attr(data-number) '.';
            position: absolute;
            font-weight: 400;
            left: 0.25em;
            top: 6px;
            @apply flex justify-start items-start absolute text-body-base font-medium text-base bottom-0;

        }

        a {
            display: inline;
            @apply ml-1;
        }

        ol {
            @apply list-inside ml-1;

            li {
                padding-left: .75em;
                &:before {
                    left: 0.25rem;
                    content: '-';
                    @apply flex justify-center items-center absolute text-body-base font-medium;
                }

                a {
                    background: none;
                    text-decoration: none;
                    @apply ml-1 text-base;

                    &:hover {
                        background: none;
                        color: #0096aa;
                    }
                }
            }
        }
    }
}



