.post__heading-h1,
.post__heading-h2,
.post__heading-h3 {
    @apply font-serif;
}

.post__heading-h1 {
    @apply text-4xl;
}

.post__heading-h2 {
    @apply text-2xl mt-8;
}

.post__heading-h3 {
    @apply text-xl mt-6;
}

.post__heading-h4 {
    @apply text-lg mt-6 font-bold;
}

.post__heading-h5 {
    @apply uppercase mt-4 font-bold;
}

.post__heading-h6 {
    @apply font-bold;
}

.post__paragraph, .post__list-ol, .post__list-ul {
    @apply mt-4;
}
