.wp-block-image-grid {
    @apply grid grid-cols-4 gap-4 mt-4;
}

/*.wp-block-image-grid-item {
    @apply group; // image transform hover
}*/

.wp-block-image-grid-heading {
    @apply font-serif text-xl leading-none;
}

.wp-block-image-grid-image {
    @apply mt-2 text-base;
}

.wp-block-image-grid-text {
    @apply mt-2 text-base;
}
