.prose {
    .h1 {
        @apply text-4xl  font-serif text-body-darker;
    }
    .h2 {
        @apply text-3xl mt-8 font-serif text-body-darker;
        + * {
            margin-top: 0 !important;
        }
    }

    .h3 {
        @apply text-2xl mb-2 mt-6 font-medium font-serif text-body-darker;
        + * {
            margin-top: 0 !important;
        }
    }

    .h4 {
        @apply text-lg uppercase mt-6 font-bold text-body-darker;
        + * {
            margin-top: 0 !important;
        }
    }

    .h5 {
        @apply text-base uppercase mt-4 font-bold text-body-darker;
        + * {
            margin-top: 0 !important;
        }
    }

    .h6 {
        @apply text-base mt-4 font-bold text-body-darker;
        + * {
            margin-top: 0 !important;
        }
    }

    .p {
        line-height: 1.75;
        @apply mt-5 mb-4 text-body-base;
    }

    strong {
        @apply font-medium;
    }

    .list-ul {
        margin-top: 1.25em;
        margin-bottom: 1.25em;

        > li {
            position: relative;
            padding-left: 1.75em;

            &:before {
                content: "";
                position: absolute;
                border-radius: 50%;
                width: 0.375em;
                height: 0.375em;
                top: calc(0.875em - 0.1875em);
                left: 0.25em;
                @apply bg-coral-500 text-base;
            }
        }

        > li > * &:last-child {
            margin-bottom: 1.25em;
        }

        > li > *:first-child {
            margin-top: 1.25em !important;
        }
    }

    .list-ol {
        counter-reset: list-counter;
        margin-top: 1.25em;
        margin-bottom: 1.25em;

        > li {
            position: relative;
            counter-increment: list-counter;
            padding-left: 1.75em;

            &:before {
                content: counter(list-counter) ".";
                position: absolute;
                font-weight: 400;
                left: 0.25em;
                @apply flex justify-center items-center absolute text-body-base text-turquoise-600 font-medium text-base bottom-0;
            }

            > *:last-child {
                margin-bottom: 1.25em;
            }

            > *:first-child {
                margin-top: 1.25em;
            }

            *:last-child {
                margin-bottom: 1.25em;
            }
        }
        > li > *:last-child {
            margin-bottom: 1.25em;
        }

        > li > *:first-child {
            margin-top: 1.25em !important;
        }

    }
    //ul > li > *:first-child {
    //    margin-top: 1.25em !important;
    //}
    //ol > li:first-child {
    //    margin-top: 1.25em !important;
    //}
    a {
        @apply text-turquoise-600 font-medium ;
        &:hover {
            text-decoration: underline;
        }
    }
    blockquote {
        font-style: italic;
        border-left-width: 0.25rem;
        quotes: "\201C""\201D""\2018""\2019" ;
        margin-top: 1.6em;
        margin-bottom: 1.6em;
        padding-left: 1em;
        @apply border-coral-300;

        p:first-of-type::before {
            content: 'open-quote'
        }
        p:last-of-type::after {
            content: 'close-quote'
        }
    }

//
//'blockquote p:first-of-type::before': {
//    content: 'open-quote',
//},
//'blockquote p:last-of-type::after': {
//    content: 'close-quote',
//},

//'h3 + *': {
//    marginTop: '0',
//},
//'h4 + *': {
//    marginTop: '0',
//},


}
