* {
    font-variant-ligatures: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    @apply text-body-base font-sans font-normal leading-relaxed;
}

.truncate-line-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.truncate-line-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

}
